body {
    background-image: url(../re/background.jpg);
    background-position: center;
    margin: 0;
    padding: 0;
}

.or {
    background-color: rgb(16, 17, 17);
    text-align: center;
    font-size: 25px;
    color: orange;
    font-weight: bolder;
}

.nacho {
    background-color: rgb(66, 61, 61);
    color: white;
    text-align: justify;
}

.nacho:hover {
    background-color: rgb(53, 51, 51);
}

.orange {
    background-color: blue;
}

.orange:hover {
    background-color: red;
    transition: 1s;
}