body {
    background-color: rgb(14, 13, 13, 0.8);
}


/* .section-3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-3:after {
    content: '';
    display: block;
    clear: both;
} */

.box {
    float: left;
    width: 21%;
    height: auto;
    border: solid white 8px;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
    padding-bottom: 20px;
    background-color: rgb(175, 173, 173);
    border: 20px;
}

.box a {
    text-decoration: none;
    background-color: red;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.box a:hover {
    background-color: blue;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
}

.box a :visited {
    background-color: violet;
}

.box h3 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.box p {
    width: 90%;
    height: auto;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    color: white;
}

.box img {
    width: 95%;
    height: 200px;
    border-radius: 20px;
    padding: 5px 5px 0px 5px;
    margin: 5px auto 0px auto;
}